:root {
  --border-color: #ddd;
  --button-search-font: #3c4043;
  --button-search-background: #f8f9fa;
  --footer-background: #f2f2f2;
  --footer-font: #70757a;
  --footer-font-hover: #3c4043;
  --footer-font-active: #ea4335;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  display: block;
  width: 10%;
}
input {
  border: none;
  outline: none;
}
button {
  border: none;
  font-family: inherit;
  cursor: pointer;
}
button:focus {
  outline: none;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  width: auto;
  margin-top: 1rem;
  margin-right: 1.2rem;
  font-size: 1.3rem;
}
.nav-link {
  opacity: 0.85;
}

.nav-link:nth-child(1) {
  margin-right: 0.5rem;
}

.nav-link:nth-child(2) {
  margin-right: 0.9rem;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link-round {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.nav-link-round:hover {
  background-color: #f0f0f0;
}

.button-apps {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAHlBMVEX///8AAAD09PTLy8uUlJSPj4/5+fnl5eXNzc3IyMgWJBrXAAABJklEQVR4nO3cQQ6CMBRFUSwtpfvfsAv4qD8EI6nnzF/0MhMpywIAAAAAAAAAcC+j1YQt7Hpm13rYbZmPa+PCwvbIKPHKpHbxm5bUrl1YWE8WrqnderKwKlSoUKFChQoVKlSoUKFChQoVKlSoUKFChQoVKlSoUKFChRcW7qndfoPCrWQcDL+6i89+AAAAAO/1sX4Wb0YsJbMbBz/y98wuntM4z3mLV4Xz32tTqFChQoUKFSpUqFChQoUKFSpUqFChQoUKFSpUqFChQoX3K5z/f/z5n8UAAACA/zD/OxXmfy/G/PfaFCpUqFChQoUKFSpUqFChQoUKFSpUqFChQoUKFSpUqFDhPIXzn7cYrSbEZyN6ZtfiuYkt83EtXhkAAAAAAAAAgN96AuUrQOqYK1c6AAAAAElFTkSuQmCC');
  background-size: 40px 40px;
  
}

.user-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10rem;
}
.logo {
  width: 272px;
  height: 92px;
  margin-bottom: 2.6rem;
}
.searchbar{
  display:flex;
  border: 0.1px solid var(--border-color);
  border-radius: 30px;
  align-items: center;
  justify-content: space-between;
  width: 580px;
  padding: 1rem;
  padding-right: 1.5rem;
}
.searchbar:hover,
.searchbar:focus-within {
  border-color: white;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}
.search-icon {
  width: 25px;
  height: 25px;
  margin-right: 1rem;
}

.search-input {
  width: 90%;
  font-size: 1.6rem;
}

.microphone-icon {
  width: 25px;
  height: 25px;
}

.search-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.4rem;
  justify-content: space-between;
}

.button-search {
  min-width: 54px;
  height: 36px;
  padding: 0 2rem;
  border: 1px solid transparent;
  border-radius: 5px;
  margin: 0.6rem;
  background-color: var(--button-search-background);
  color: var(--button-search-font);
  font-size: 1.4rem;
}

.button-search:hover {
  border-color: #dadce0;
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

.button-search:focus {
  border-color: blue;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid var(--border-color);
  background: var(--footer-background);
  color: var(--footer-font);
  font-size: 1.0rem;
}

.left-section,
.right-section {
  display: flex;
}

.right-section {
  margin-right: 3rem;
}

.footer-link {
  display: block;
  padding: 1rem 0 1rem 3rem;
}

.footer-link:hover {
  text-decoration: underline;
  color: var(--footer-font-hover);
}

.footer-link:active {
  color: var(--footer-font-active);
}
